# Specify filepatterns you want git to ignore.

# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# lsp caches
**/.ccls-cache/**

# sublime
**.sublime**

#zig output
**/.zig-cache/**
**/zig-out/**

#gdb history
**.gdb**
